body {
    background-color: rgb(190, 190, 190);
}


h1 {
    text-shadow: 5px 2px 2px rgb(45, 59, 59);
}

.red {
    width: auto;
    height: 25px;
    background-color: #2f119b;
    border: 1px;
    box-shadow: 10px 5px 5px rgb(45, 59, 59);
    
}